.button-icon {
     display: flex;
     border: 2px #fff solid;
     width: fit-content;
     height: fit-content;
     cursor: pointer;
   }
   
   .icon {
     background-color: #fff;
     padding: 10px 7px 10px 10px;
   }
   
   .icon svg {
     width: 20px;
     height: 20px;
   }
   
   .cube {
     transition: all 0.4s;
     transform-style: preserve-3d;
     width: 150px;
     height: 13px;
   }
   
   .button-icon:hover .cube {
     transform: rotateX(90deg);
   }
   
   .side {
     position: absolute;
     height: 40px;
     width: 150px;
     display: flex;
     font-size: 0.6em;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
     letter-spacing: 0.5px;
     font-weight: bold;
   }
   
   .top {
     background: #222229;
     color: #fff;
     transform: rotateX(-90deg) translate3d(0, 13.5px, 0.4em);
   }
   
   .front {
     background: #222229;
     color: #fff;
     transform: translate3d(0, 0, 0.4em);
   }
   