*{
  box-sizing: border-box;
  font-family: 'Roboto Mono';
}

body{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #051923;
}

::-webkit-scrollbar-thumb {
  background: #006494;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2578bc;
}